@{
    ViewBag.Title = "Welcome!";
}

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Check out our conferences!
            </p>
        </div>
    </section>
